.row
	.col-md-4.col-md-offset-4
		-if flash.empty?
		-else
			= flash[:error]
		.panel.panel-default
			.panel-heading
				Login
			.panel-body
				.form
					= form_for(:session, url: login_path) do |f|
						.form-group
							= f.label :name
							= f.text_field :name, class: "form-control"
						.form-group
							= f.label :password
							= f.password_field :password, class: "form-control"
						= f.submit "Log in", class: "btn btn-primary pull-right"